* {
  padding: 0;
  margin: 0;
  color: white;
}

body {
  background-color: #e9ecef;
}

.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #000;
}
.sticky-navbar a:link {
  color: #ffc300;
}
.sticky-navbar a:visited {
  color: #e8eddf;
}
.sticky-navbar a:hover {
  background-color: #98c1d9;
  border-radius: 20px;
  color: #000;
  transition: background-color 0.5s;
}
.sticky-navbar a:active {
  color: #41ead4;
}

#title-sitio {
  display: flex;
}
#title-sitio .div-vista__mobil {
  width: 50px;
}
#title-sitio .title-sitio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}
#title-sitio h1 {
  padding-left: 90px;
  color: #ffc300;
  font-family: "Merriweather", serif;
  font-size: 35px;
}
#title-sitio {
  background-color: black;
}

.texto-entrada1, .texto-entrada {
  background-color: black;
  font-family: "Merriweather", serif;
  text-align: center;
}
.texto-entrada1 h2, .texto-entrada h2 {
  color: #ffc300;
}

.texto-entrada {
  text-align: center;
}
.texto-entrada h2 {
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  color: #ff9f1c;
}

.ofrecemos {
  display: flex;
  padding: 20px 5px;
  font-family: "Merriweather", serif;
  justify-content: start;
  align-items: center;
  height: 200px;
}
.ofrecemos h2 {
  color: #3d5a80;
}

#readaptacion, #readaptacion2, #Terapeuticos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #003566;
}
#readaptacion h3, #readaptacion2 h3, #Terapeuticos h3 {
  padding: 20px 10px;
  font-family: "Roboto Slab", serif;
  color: #ff9f1c;
}
#readaptacion p, #readaptacion2 p, #Terapeuticos p {
  padding: 20px 10px;
  font-family: arial;
  font-size: 17px;
  text-align: justify;
}

#Acondicionamiento, #anti-estres {
  padding: 10px;
  font-family: "Roboto Slab", serif;
  font-size: 25px;
}
#Acondicionamiento .acondicionamiento, #anti-estres .acondicionamiento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
#Acondicionamiento h3, #anti-estres h3 {
  color: #ff9f1c;
  text-align: center;
}
#Acondicionamiento p, #anti-estres p {
  padding: 20px 5px;
  font-family: arial;
  font-size: 17px;
  text-align: justify;
  color: #212529;
  font-weight: 0px;
}

#Terapeuticos .terapeutico {
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
#Terapeuticos p {
  padding: 20px 10px;
  font-family: arial;
  font-size: 17px;
  text-align: justify;
}

#anti-estres .anti-estr {
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  color: #ff9f1c;
}
#anti-estres p {
  padding: 20px 5px;
  font-family: arial;
  font-size: 17px;
  text-align: justify;
}

#footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  background-color: black;
  margin-top: 5px;
  padding-top: 5px;
}

#title__entrenamiento, #title__Terpias {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}
#title__entrenamiento h1, #title__Terpias h1 {
  font-family: "Merriweather", serif;
  color: #ffc300;
}

.carousel-item img {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.text-start {
  display: flex;
  align-items: center;
  background-color: #003566;
  height: 200px;
}
.text-start p {
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  color: #ff9f1c;
}

#readaptacion2 {
  margin: 0%;
  background: none;
}
#readaptacion2 h2 {
  color: #3c6e71;
  padding: 20px 0px;
}
#readaptacion2 p {
  text-align: justify;
  color: #212529;
}

#acondicionamiento2 {
  display: flex;
  flex-direction: column;
  background-color: #003566;
}
#acondicionamiento2 h2 {
  color: #3c6e71;
  text-align: center;
  padding-bottom: 20px;
}
#acondicionamiento2 p {
  text-align: justify;
  padding: 15px;
}

#title__Terpias {
  background-color: black;
  height: 100px;
}
#title__Terpias h1 {
  font-size: 35px;
}

.texto-entrada2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #003566;
}
.texto-entrada2 p {
  text-align: center;
  font-size: 20px;
  font-family: "Merriweather", serif;
  color: #ffc300;
}

.Masajes-t1 {
  text-align: start;
  padding-left: 10px;
  margin: 50px 50px;
}
.Masajes-t1 h3 {
  color: #3c6e71;
  font-size: 25px;
  font-family: "Roboto Slab", serif;
}

#Masajes-t2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Masajes-t2 ol {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0%;
  width: 100%;
}
#Masajes-t2 .li1 {
  background-color: #003566;
}
#Masajes-t2 .li1 p {
  color: white;
}
#Masajes-t2 h4 {
  text-align: start;
  color: #3c6e71;
  padding-left: 10px;
}
#Masajes-t2 p {
  width: auto;
  color: #212529;
  text-align: justify;
  padding: 15px;
}
#Masajes-t2 h6 {
  margin: 20px 10px;
  color: #ef476f;
}

#masajes_anti {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#masajes_anti p {
  text-align: justify;
  padding: 10px;
  color: #212529;
  text-align: start;
}

.masaje-anti, .reductivo-h3 {
  text-align: center;
  padding-bottom: 20px;
  font-family: "Roboto Slab", serif;
  font-size: 35px;
}
.masaje-anti h3, .reductivo-h3 h3 {
  color: #3c6e71;
}

#reductivo1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #003566;
}
#reductivo1 img {
  padding-top: 10px;
}
#reductivo1 p {
  text-align: justify;
  padding: 15px;
  color: white;
}

.div-imagen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
