* {
  padding: 0;
  margin: 0;
}

#title-sitio {
  text-align: center;
  color: #ffc300;
}
#title-sitio .div-vista__mobil {
  width: 250px;
}
#title-sitio h1 {
  padding-bottom: 60px;
  font-family: "Merriweather", serif;
}
#title-sitio {
  background-color: #1a759f;
}

.texto-entrada {
  font-family: arial;
  font-size: 17px;
  text-align: center;
}
.texto-entrada h2 {
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  color: #003049;
}

#readaptacion, #Terapeuticos {
  padding: 10px;
  background-color: #a9d6e5;
}
#readaptacion h3, #Terapeuticos h3 {
  font-family: "Roboto Slab", serif;
  color: #003049;
}
#readaptacion .readaptacion, #Terapeuticos .readaptacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#readaptacion p, #Terapeuticos p {
  font-family: arial;
  font-size: 17px;
  text-align: start;
}

#Acondicionamiento, #anti-estres {
  padding: 10px;
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  color: #003049;
}
#Acondicionamiento .acondicionamiento, #anti-estres .acondicionamiento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Acondicionamiento p, #anti-estres p {
  font-family: arial;
  font-size: 17px;
  text-align: start;
}

#Terapeuticos .terapeutico {
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Terapeuticos p {
  font-family: arial;
  font-size: 17px;
  text-align: center;
}

#anti-estres .anti-estr {
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  color: #003049;
}
#anti-estres p {
  font-family: arial;
  font-size: 17px;
  text-align: center;
}

#footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  background-color: #1a759f;
  margin-top: 5px;
  padding-top: 5px;
}

.carousel-item img {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

#title__entrenamiento, #title__Terpias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#title__entrenamiento h1, #title__Terpias h1 {
  font-family: "Merriweather", serif;
  color: #ffc300;
}

p {
  text-align: center;
  font-size: 17px;
  font-family: arial;
}

#readaptacion h2, #Terapeuticos h2 {
  padding-top: 20px;
}
#readaptacion iframe, #Terapeuticos iframe {
  padding-top: 20px;
}

#title__Terpias {
  background-color: #1a759f;
  height: 100px;
}
#title__Terpias h1 {
  font-size: 35px;
}

.texto-entrada {
  margin-top: 20px;
  padding: 5px;
  background-color: #a9d6e5;
}

.Masajes-t1 {
  text-align: start;
  padding-left: 10px;
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  color: #003049;
}

#Masajes-t2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}
#Masajes-t2 ol {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Masajes-t2 ol img {
  padding-right: 20px;
  padding-bottom: 20px;
}
#Masajes-t2 h4 {
  color: #003049;
  padding-left: 10px;
}
#Masajes-t2 p {
  width: auto;
  background-color: #a9d6e5;
  color: #073b4c;
  text-align: start;
}
#Masajes-t2 h6 {
  color: #ef476f;
}

#masajes_anti {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
#masajes_anti p {
  background-color: #a9d6e5;
  color: #073b4c;
  text-align: start;
}

.masaje-anti, .reductivo-h3 {
  text-align: start;
  padding-left: 10px;
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  color: #003049;
}

#reductivo1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reductivo1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#reductivo2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
#reductivo2 p {
  background-color: #a9d6e5;
  text-align: start;
  color: #073b4c;
}

.div-imagen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
