* {
  padding: 0;
  margin: 0;
  color: white;
}

body {
  background-color: #e9ecef;
}

.sticky-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #000;
  height: 50px;
}
.sticky-navbar a:link {
  transition: background-color 0.1s;
  border-radius: 20px;
  color: #e8eddf;
}
.sticky-navbar a:visited {
  transition: background-color 0.1s;
  border-radius: 20px;
  color: #ffc300;
}
.sticky-navbar a:hover {
  background-color: #98c1d9;
  border-radius: 20px;
  color: #000;
  transition: background-color 0.5s;
}
.sticky-navbar a:active {
  transition: background-color 0.1s;
  border-radius: 20px;
  color: #41ead4;
}

#title-sitio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-image: url(../imagenes/video2.gif);
  background-color: rgb(30, 30, 30);
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: cover;
}
#title-sitio .div-vista__mobil {
  display: flex;
  justify-content: center;
  align-items: center;
}
#title-sitio .div-vista__mobil img {
  width: 60px;
}
#title-sitio .title-sitio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}
#title-sitio h1 {
  color: #ffc300;
  font-family: "Merriweather", serif;
  font-size: 35px;
}
@media (min-width: 1000px) {
  #title-sitio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
  }
  #title-sitio {
    background-color: black;
  }
  #title-sitio .div-vista__mobil img {
    width: 130px;
  }
  #title-sitio .title-sitio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
  }
}

.texto-entrada1 {
  font-family: "Merriweather", serif;
  text-align: center;
}
.texto-entrada1 h2 {
  color: #ffc300;
}

.ofrecemos {
  display: flex;
  padding: 20px 5px;
  font-family: "Merriweather", serif;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.ofrecemos h2 {
  color: #3d5a80;
}

#readaptacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #003566;
  padding-top: 40px;
}
#readaptacion h3 {
  display: flex;
  justify-content: center;
  font-family: "Roboto Slab", serif;
  color: #ff9f1c;
}
#readaptacion p {
  padding: 20px 10px;
  font-family: arial;
  font-size: 17px;
  text-align: justify;
}
#readaptacion a {
  text-decoration: none;
}
#readaptacion a:link {
  color: #e8eddf;
}
#readaptacion a:visited {
  color: #e5383b;
}
#readaptacion a:hover {
  background-color: #98c1d9;
  border-radius: 20px;
  color: #000;
  transition: background-color 0.1s;
}
#readaptacion a:active {
  transition: background-color 0.1s;
  border-radius: 20px;
  color: #41ead4;
}
@media (min-width: 1000px) {
  #readaptacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: 10px;
    justify-content: center;
    align-items: center;
    background-color: #003566;
    height: 700px;
    padding: 10px;
  }
  #readaptacion .readaptacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #readaptacion h3 {
    font-family: "Roboto Slab", serif;
    color: #ff9f1c;
  }
  #readaptacion img {
    width: 100%;
  }
  #readaptacion p {
    width: 500px;
    padding: 0px 10px;
    font-family: arial;
    font-size: 17px;
    text-align: justify;
  }
}

#Acondicionamiento {
  padding: 10px;
  font-family: "Roboto Slab", serif;
  font-size: 25px;
}
#Acondicionamiento .acondicionamiento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
#Acondicionamiento h3 {
  color: #ff9f1c;
  text-align: center;
}
#Acondicionamiento p {
  padding: 20px 5px;
  font-family: arial;
  font-size: 17px;
  text-align: justify;
  color: #212529;
  font-weight: 0px;
}
#Acondicionamiento h5 {
  color: #ff9f1c;
}
#Acondicionamiento ul li {
  font-size: 20px;
  color: #4a4e69;
}
#Acondicionamiento a {
  text-decoration: none;
}
#Acondicionamiento a:link {
  color: #e8eddf;
}
#Acondicionamiento a:visited {
  color: #e5383b;
}
#Acondicionamiento a:hover {
  background-color: #98c1d9;
  border-radius: 20px;
  color: #000;
  transition: background-color 0.1s;
}
#Acondicionamiento a:active {
  transition: background-color 0.1s;
  border-radius: 20px;
  color: #41ead4;
}
@media (min-width: 1000px) {
  #Acondicionamiento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 650px;
  }
  #Acondicionamiento .acondicionamiento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
  }
  #Acondicionamiento h3 {
    color: #ff9f1c;
    text-align: center;
  }
  #Acondicionamiento p {
    padding: 5px;
    width: 500px;
    font-family: arial;
    font-size: 17px;
    text-align: justify;
    color: #212529;
  }
  #Acondicionamiento ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  #Acondicionamiento img {
    width: 100% px;
  }
}

#Terapeuticos .terapeutico {
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #003566;
  height: 500px;
}
#Terapeuticos h3 {
  display: flex;
  justify-content: center;
  color: #ff9f1c;
}
#Terapeuticos p {
  padding: 20px 15px;
  font-family: arial;
  font-size: 17px;
  text-align: justify;
}
#Terapeuticos a {
  text-decoration: none;
}
#Terapeuticos a:link {
  color: #e8eddf;
}
#Terapeuticos a:visited {
  color: #e5383b;
}
#Terapeuticos a:hover {
  background-color: #98c1d9;
  border-radius: 20px;
  color: #000;
  transition: background-color 0.1s;
}
#Terapeuticos a:active {
  transition: background-color 0.1s;
  border-radius: 20px;
  color: #41ead4;
}
@media (min-width: 1000px) {
  #Terapeuticos .terapeutico {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 45px;
    justify-content: center;
    align-items: center;
  }
  #Terapeuticos p {
    width: 500px;
  }
  #Terapeuticos img {
    width: 100%;
  }
}

#anti-estres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#anti-estres h3 {
  display: flex;
  justify-content: center;
  font-family: "Roboto Slab", serif;
  color: #ff9f1c;
}
#anti-estres p {
  padding: 20px 10px;
  font-family: arial;
  color: #212529;
  font-size: 17px;
  text-align: justify;
}
#anti-estres a {
  text-decoration: none;
}
#anti-estres a:link {
  color: #e8eddf;
}
#anti-estres a:visited {
  color: #e5383b;
}
#anti-estres a:hover {
  background-color: #98c1d9;
  border-radius: 20px;
  color: #000;
  transition: background-color 0.1s;
}
#anti-estres a:active {
  transition: background-color 0.1s;
  border-radius: 20px;
  color: #41ead4;
}
@media (min-width: 1000px) {
  #anti-estres img {
    width: 100%;
  }
  #anti-estres p {
    width: 510px;
  }
  #anti-estres .anti-estres {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    height: 650px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
  }
}

footer {
  padding-top: 10px;
  background-color: #000;
}
footer #footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  height: 120px;
  row-gap: 20px;
}
footer .ft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .ft h6 {
  color: #70798c;
}
footer .ft .h {
  width: 30%;
  height: 2px;
  border: 0 none;
  margin: auto;
  background-color: #e9ecef;
}
@media (min-width: 1000px) {
  footer #footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    padding: 60px;
    height: 120px;
  }
  footer .ft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
  footer .ft h6 {
    color: #70798c;
  }
}

#title__entrenamiento, #title__Terpias {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  padding-bottom: 20px;
}
#title__entrenamiento img, #title__Terpias img {
  width: 60px;
}
#title__entrenamiento h1, #title__Terpias h1 {
  font-family: "Merriweather", serif;
  color: #ffc300;
}
@media (min-width: 1000px) {
  #title__entrenamiento, #title__Terpias {
    height: 300px;
  }
  #title__entrenamiento img, #title__Terpias img {
    width: 100px;
  }
  #title__entrenamiento img:hover, #title__Terpias img:hover {
    width: 140px;
  }
}

.carousel-item img {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.text-start {
  display: flex;
  align-items: center;
  background-color: #003566;
  height: 200px;
}
.text-start p {
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  color: #ff9f1c;
  padding: 10px;
}
@media (min-width: 1000px) {
  .text-start {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-start p {
    font-size: 35px;
  }
}

#readaptacion2 {
  display: flex;
  flex-direction: column;
  margin: 0%;
  background: none;
  height: 550px;
  padding: 10px;
}
#readaptacion2 h2 {
  display: flex;
  justify-content: center;
  color: #3c6e71;
  padding: 20px 0px;
}
#readaptacion2 p {
  text-align: justify;
  color: #212529;
}
@media (min-width: 1000px) {
  #readaptacion2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #readaptacion2 .readaptacion2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    justify-content: center;
    align-items: center;
  }
  #readaptacion2 p {
    width: 500px;
  }
}

#acondicionamiento2 {
  display: flex;
  flex-direction: column;
  background-color: #003566;
  padding-top: 10px;
}
#acondicionamiento2 img {
  padding-top: 40px;
}
#acondicionamiento2 h2 {
  color: #3c6e71;
  text-align: center;
  padding-bottom: 20px;
}
#acondicionamiento2 p {
  text-align: justify;
  padding: 15px;
}
@media (min-width: 1000px) {
  #acondicionamiento2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
    height: 500px;
  }
  #acondicionamiento2 .acondicionamiento2 img {
    width: 100%;
  }
  #acondicionamiento2 .acondicionamiento2 p {
    width: 500px;
  }
  #acondicionamiento2 .acondicionamiento2 h2 {
    text-align: start;
  }
}

#title__Terpias {
  background-color: black;
  height: 200px;
}
#title__Terpias img {
  width: 60px;
}
#title__Terpias h1 {
  font-size: 35px;
}
@media (min-width: 1000px) {
  #title__Terpias {
    height: 300px;
  }
  #title__Terpias img {
    width: 100px;
  }
  #title__Terpias img:hover {
    width: 140px;
  }
}

.texto-entrada2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #003566;
}
.texto-entrada2 p {
  text-align: center;
  font-size: 20px;
  font-family: "Merriweather", serif;
  color: #ffc300;
  padding: 5px 5px;
}
@media (min-width: 1000px) {
  .texto-entrada2 {
    height: 200px;
  }
  .texto-entrada2 p {
    font-size: 35px;
    padding-top: 20px;
  }
}

#Masajes-t2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Masajes-t2 h3 {
  color: #ff9f1c;
  font-size: 25px;
  font-family: "Roboto Slab", serif;
  text-align: center;
  padding-left: 10px;
}
#Masajes-t2 p {
  color: #212529;
  text-align: justify;
  padding: 15px;
  width: auto;
}
@media (min-width: 1000px) {
  #Masajes-t2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
    height: 600px;
    padding: 20px;
  }
  #Masajes-t2 img {
    width: 80%;
  }
}

.ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ol .li1 {
  display: flex;
  flex-direction: column;
  background-color: #003566;
  width: 100%;
  height: 500px;
}
.ol .li1 p {
  color: white;
  width: auto;
  text-align: justify;
  padding: 15px;
}
.ol .li1 h6 {
  font-family: "Roboto Slab", serif;
  display: flex;
  justify-content: center;
  margin: 20px 10px;
  color: #ef476f;
}
.ol .li1 img {
  padding-top: 40px;
}
.ol p {
  width: auto;
  color: #212529;
  text-align: justify;
  padding: 15px;
}
.ol h6 {
  font-family: "Roboto Slab", serif;
  display: flex;
  justify-content: center;
  margin: 20px 10px;
  color: #ef476f;
}
@media (min-width: 1000px) {
  .ol .li1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  .ol .li1 h6 {
    display: flex;
    justify-content: start;
  }
  .ol .li1 img {
    width: 80%;
    height: auto;
  }
  .ol .li1 p {
    width: 500px;
  }
  .ol .li2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  .ol .li2 h6 {
    display: flex;
    justify-content: start;
  }
  .ol .li2 img {
    height: 50%;
    width: 70%;
  }
  .ol .li2 p {
    width: 500px;
  }
}

#masajes_anti {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}
#masajes_anti h3 {
  display: flex;
  justify-content: center;
  font-family: "Roboto Slab", serif;
  color: #ff9f1c;
}
#masajes_anti p {
  padding: 10px;
  text-align: justify;
  color: #212529;
}
@media (min-width: 1000px) {
  #masajes_anti {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  #masajes_anti img {
    width: 80%;
  }
}

.masaje-anti, .reductivo-h3 {
  text-align: center;
  padding-bottom: 20px;
  font-family: "Roboto Slab", serif;
  font-size: 35px;
}
.masaje-anti h3, .reductivo-h3 h3 {
  padding-top: 20px;
  color: #ff9f1c;
}

#reductivo1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #003566;
}
#reductivo1 img {
  padding-top: 10px;
}
#reductivo1 p {
  text-align: justify;
  padding: 15px;
  color: white;
}

.div-imagen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.div-imagen img {
  width: 350px;
}
@media (min-width: 800px) {
  .div-imagen img {
    width: 500px;
  }
}
@media (min-width: 1000px) {
  .div-imagen img {
    width: 500px;
  }
}

.div__especialista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  background-color: black;
  height: 200px;
}
.div__especialista img {
  width: 60px;
}
.div__especialista h1 {
  font-family: "Roboto Slab", serif;
  color: #ffc300;
}
@media (min-width: 1000px) {
  .div__especialista {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
  }
  .div__especialista img {
    width: 100px;
  }
  .div__especialista img:hover {
    width: 140px;
  }
}

.name {
  padding: 20px;
}
.name h2 {
  font-family: "Merriweather", serif;
  color: #3c6e71;
}
.name p {
  font-size: 17px;
  font-family: "Roboto Slab", serif;
  color: #212529;
}
@media (min-width: 1000px) {
  .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
  }
  .name .name2 {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 40px;
  }
  .name p {
    width: 800px;
  }
}

.otros {
  padding: 20px;
  background-color: #003566;
}
.otros h3 {
  color: #ef476f;
}
@media (min-width: 1000px) {
  .otros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    padding-left: 100px;
  }
  .otros li {
    padding: 10px;
  }
}

.Ubicacion h2 {
  padding: 20px;
  color: #3c6e71;
}
.Ubicacion img {
  width: 200px;
}

/*# sourceMappingURL=style.css.map */
