@import "fonts";
@import "colores";

*{padding: 0;
margin: 0;
color:$color-p;
}

body{
    background-color: #e9ecef;
}
.sticky-navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color:#000;
    a{
        &:link {
        color:#ffc300;
}
&:visited {
    color:#e8eddf;
}

&:hover{
    background-color: #98c1d9;
    border-radius: 20px;
    color:#000;
    transition: background-color 0.5s;
}
&:active{
    color:#41ead4;
}
}
}
#title-sitio{
    display:flex;
    .div-vista__mobil{
    width: 50px;

    }
    .title-sitio{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
    }
    h1{
        padding-left: 90px;
        color: $color-title;
        font-family: $font-h1;
        font-size: 35px;
    }
    &{
        background-color:black;
    }
}
.texto-entrada1{
    background-color:black;
    font-family: $font-h1;
    text-align:center;
    h2{
        color:$color-title;
    }
}
.texto-entrada{
    @extend.texto-entrada1;
    text-align: center;
    h2{
        font-family:$sup-titulos;
        font-size: 25px;
        color:$color-suptitle ;
    }
}
.ofrecemos{
    display: flex;
    padding: 20px 5px;
    font-family:$font-h1;
    justify-content: start  ;
    align-items: center;
    height: 200px;
    h2{
        color: #3d5a80;
    }
}
#readaptacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color:$color-div;
    h3{
        padding: 20px 10px;
        font-family:$sup-titulos;
        color:$color-suptitle;
    }
    
    p{
        padding: 20px 10px;
        font-family: $estilo-p;
        font-size: $font-parrafo;
        text-align:justify;
    }
}
#Acondicionamiento{
    padding: 10px;
    font-family:$sup-titulos;
    font-size: 25px;
    .acondicionamiento{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom:20px; 
    } 
    h3{
        color:$color-suptitle;
        text-align: center;
    }
    p{
        padding: 20px 5px;
        font-family: $estilo-p;
        font-size: $font-parrafo;
        text-align: justify;
        color: $color-p2;
        font-weight: 0px;
    }
}
#Terapeuticos{
    @extend#readaptacion;
    .terapeutico{
    font-family:$sup-titulos;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    }
    p{
        padding:20px 10px;
        font-family: $estilo-p;
        font-size: $font-parrafo;
        text-align:justify; 
    }
}
#anti-estres{
    @extend#Acondicionamiento;
    .anti-estr{
    font-family:$sup-titulos;
    font-size: 25px;
    color:$color-suptitle;
    }
    p{
        padding: 20px 5px;
        font-family: $estilo-p;
        font-size: $font-parrafo;
        text-align:justify;  
    }
}
#footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    background-color:black;
    margin-top: 5px;
    padding-top: 5px;
}
        // section entrenamiento//
#title__entrenamiento{
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100px;   
    h1{

        font-family:$font-h1;
        color: $color-title;
    }
}
.carousel-item img {
    width: 400px; 
    height: 300px;
    object-fit: cover;
    }
.text-start{
    display: flex;
    align-items: center;
    background-color:$color-div;
    height:200px;
p{
    text-align:center;
    font-family:$sup-titulos;
    font-size: 20px;
    color:$color-suptitle;
}
}
#readaptacion2{
    @extend#readaptacion;
    margin: 0%;
    background:none;
    h2{
        color: #3c6e71;
        padding: 20px 0px;
    }
    p{
        text-align: justify;
        color: $color-p2;
    }
}
#acondicionamiento2{
    display: flex;
    flex-direction: column;
    background-color:$color-div;
    h2{
        color:#3c6e71;
        text-align: center;
        padding-bottom:20px;
    }
    p{
        text-align: justify;
        padding: 15px;
    }
}
    // Terapias//

#title__Terpias{
    background-color:black;
    height: 100px;
    h1{
        font-size: 35px;
    }
    @extend#title__entrenamiento;
}
.texto-entrada2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: $color-div;
    p{
        text-align: center;
        font-size: 20px;
        font-family:$font-h1;
        color:$color-title;
    }
}
.Masajes-t1{
    text-align: start;
    padding-left: 10px;
    margin: 50px 50px;
    h3{
        color:#3c6e71;    font-size: 25px;
        font-family:$sup-titulos;
    }
}
#Masajes-t2{
    display: flex;
    flex-direction: column;
    align-items: center;

    ol{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0%;
        width:100%;
    }
    .li1{
        background-color:$color-div;
        p{
            color:$color-p;
        }
    }

    h4{
        text-align: start;
        color:#3c6e71;
        padding-left: 10px;
    }
    p{
        width: auto;
        color:$color-p2;
        text-align: justify;
        padding: 15px;
    }
    h6{
        margin: 20px 10px;
        color:$color-h6;
    }
}
#masajes_anti{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    p{
        text-align: justify;
        padding:10px;
        color: $color-p2;
        text-align: start;
    }
}
.masaje-anti{
    text-align: center;
    padding-bottom: 20px;
    font-family:$sup-titulos;
    font-size: 35px;
    h3{
        color:#3c6e71;
    }
}
.reductivo-h3{
@extend.masaje-anti;
}
#reductivo1{
display: flex;
flex-direction: column;
justify-content: center;
align-items:center;
background-color:$color-div;
    img{
        padding-top:10px;
    }
    p{
        text-align: justify;
        padding: 15px;
        color:$color-p;
}
}
.div-imagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}




