@import "fonts";
@import "colores";

*{padding: 0;
margin: 0;
color:$color-p;
}
.sticky-navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
        background-color:#cae9ff;
}
#title-sitio{
    text-align: center;
    color: $color-title;
    .div-vista__mobil{
        width: 250px;
    }
    .title-sitio h1{
        color: $color-title;
        padding-bottom: 60px;
        font-family: $font-h1;
    }
    &{
        background-color: $color-entrada;
    }
}
.texto-entrada1{
    background-color:$color-div;
    font-family: $estilo-p;
    font-size: $font-parrafo;
    text-align:justify;
    padding: 0%;
}
.texto-entrada{
    @extend.texto-entrada1;
    text-align: center;
    h2{
        font-family:$sup-titulos;
        font-size: 25px;
        color:$color-suptitle ;
    }
}
.ofrecemos{
    padding: 20px 5px;
    font-family:$font-h1;
}
#readaptacion{
    padding: 5px;
    background-color:$color-div !important;
    h3{
        padding: 20px 10px;
        font-family:$sup-titulos;
        color:$color-suptitle;
    }
    p{
        padding: 20px 0px;
        font-family: $estilo-p;
        font-size: $font-parrafo;
        text-align:justify;
    }
}
#Acondicionamiento{
    padding: 10px;
    font-family:$sup-titulos;
    font-size: 25px;
    color:$color-suptitle;
    .acondicionamiento{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    h2{
        padding:20px 0px;
    }
    p{
        padding: 20px 0px;
        font-family: $estilo-p;
        font-size: $font-parrafo;
        text-align: justify;
    }
}
#Terapeuticos{
    @extend#readaptacion;
    .terapeutico{
    font-family:$sup-titulos;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    p{
        padding:20px 0px;
        font-family: $estilo-p;
        font-size: $font-parrafo;
        text-align:justify; 
    }
}
#anti-estres{
    @extend#Acondicionamiento;
    .anti-estr{
    font-family:$sup-titulos;
    font-size: 25px;
    color:$color-suptitle;
    }
    p{
        padding: 20px 0px;
        font-family: $estilo-p;
        font-size: $font-parrafo;
        text-align:justify;  
    }
}
#footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    background-color:$color-entrada;
    margin-top: 5px;
    padding-top: 5px;
}
        // section entrenamiento//
#title__entrenamiento{
        background-color: $color-entrada;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100px;   
    h1{

        font-family:$font-h1;
        color: $color-title;
    }
}
.carousel-item img {
    width: 400px; 
    height: 300px;
    object-fit: cover;
    }
.text-start{
    background-color:$color-div;
p{
    text-align: justify;
}
}
#readaptacion2{
    @extend#readaptacion;
    margin: 0%;
    background:none !important;
    h2{
        padding: 20px 0px;
    }
    p{
        text-align: justify;
    }
}
.div-multi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-div;
    div{
        padding: 10px;
    }
    p{
        text-justify:start;
    }
}


    // Terapias//

#title__Terpias{
    background-color: $color-entrada;
    height: 100px;
    h1{
        font-size: 35px;
    }
    @extend#title__entrenamiento;
}
.texto-entrada{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: $color-div;
}
.Masajes-t1{
    text-align: start;
    padding-left: 10px;
    font-family:$sup-titulos;
    font-size: 25px;
    color:$color-suptitle;
    margin: 50px 50px;
}
#Masajes-t2{
    display: flex;
    flex-direction: column;
    align-items: center;
    ol{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0%;
        width:100%;
    }
    h4{
        text-align: start;
        color:$color-suptitle;
        padding-left: 10px;
    }
    p{
        width: auto;
        background-color: $color-div;
        color:$color-p;
        text-align: justify;
    }
    h6{
        margin: 20px 10px;
        color:$color-h6;
    }
}
#masajes_anti{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    p{
        background-color: $color-div;
        color: $color-p;
        text-align: start;
    }
}
.masaje-anti{
    text-align: center;
    padding-bottom: 20px;
    font-family:$sup-titulos;
    font-size: 35px;
    color:$color-suptitle;
}
.reductivo-h3{
@extend.masaje-anti;
}
#reductivo1{
display: flex;
flex-direction: column;
justify-content: center;
align-items:center;

}
#reductivo2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    p{
        background-color: $color-div;
        text-align: start;
        color: $color-p;
    }
}
.div-imagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}




