@import "fonts";
@import "colores";
*{padding: 0;
margin: 0;}
#title-sitio{
    text-align: center;
    color: $color-title;
    .div-vista__mobil{
        width: 250px;
    }
    h1{
        padding-bottom: 60px;
        font-family: $font-h1;
    }
    &{
        background-color: $color-entrada;
    }
}
.texto-entrada{
    font-family: $estilo-p;
    font-size: $font-parrafo;
    text-align: center;
    h2{
        font-family:$sup-titulos;
        font-size: 25px;
        color:$color-suptitle ;
    }
}
#readaptacion{
    padding: 10px;
    background-color:$color-div;
    h3{
        font-family:$sup-titulos;
        color:$color-suptitle;
    }
    .readaptacion{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    p{
        font-family: $estilo-p;
        font-size: $font-parrafo;
        text-align:start;
    }
}
#Acondicionamiento{
    padding: 10px;
    font-family:$sup-titulos;
    font-size: 25px;
    color:$color-suptitle;
    .acondicionamiento{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    p{
        font-family: $estilo-p;
        font-size: $font-parrafo;
        text-align:start;
    }
}
#Terapeuticos{
    @extend#readaptacion;
    .terapeutico{
    font-family:$sup-titulos;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    p{
        font-family: $estilo-p;
        font-size: $font-parrafo;
        text-align: center; 
    }
}
#anti-estres{
    @extend#Acondicionamiento;
    .anti-estr{
    font-family:$sup-titulos;
    font-size: 25px;
    color:$color-suptitle;
    }
    p{
        font-family: $estilo-p;
        font-size: $font-parrafo;
        text-align: center;  
    }
}
#footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    background-color:$color-entrada;
    margin-top: 5px;
    padding-top: 5px;
}
        // section entrenamiento//
        .carousel-item img {
            width: 400px; 
            height: 300px;
            object-fit: cover;
            }
            
#title__entrenamiento{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    h1{

        font-family:$font-h1;
        color: $color-title;
    }
}
p{
        text-align: center;
        font-size: $font-parrafo;
        font-family:$estilo-p;
    }
#readaptacion{
    h2{
        padding-top: 20px;
    }
    iframe{
        padding-top: 20px;
    }
}
    // Terapias//

#title__Terpias{
    background-color: $color-entrada;
    height: 100px;
    h1{
        font-size: 35px;
    }
    @extend#title__entrenamiento;
}
.texto-entrada{
    @extend.texto-entrada;
    margin-top: 20px;
    padding: 5px;
    background-color: $color-div;
}
.Masajes-t1{
    text-align: start;
    padding-left: 10px;
    font-family:$sup-titulos;
    font-size: 25px;
    color:$color-suptitle;
}
#Masajes-t2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    ol{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            padding-right: 20px;
            padding-bottom: 20px; 
        }
    }
    h4{
        color:$color-suptitle;
        padding-left: 10px;
    }
    p{
        width: auto;
        background-color: $color-div;
        color:$color-p;
        text-align: start;
    }
    h6{
        color:$color-h6;
    }
}
#masajes_anti{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    p{
        background-color: $color-div;
        color: $color-p;
        text-align: start;
    }
}
.masaje-anti{
    text-align: start;
    padding-left: 10px;
    font-family:$sup-titulos;
    font-size: 25px;
    color:$color-suptitle;
}
.reductivo-h3{
@extend.masaje-anti;
}
#reductivo1{
display: flex;
flex-direction: column;
justify-content: center;
align-items:center;

}
.reductivo1{
    display:flex;
    justify-content: center;
    align-items: center;
}
#reductivo2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 5px;
    p{
        background-color: $color-div;
        text-align: start;
        color: $color-p;
    }
}
.div-imagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}




